<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="../js/jquery.js"></script>

</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
        <div class="page-header"><h1>Confirmation of booking</h1></div>
            <form action="#" th:action="@{|/bookings/approve|}" method="post">
                <p>
                    <input type="hidden" th:id="id" />
                    <label>CheckIn</label>
                <p class="form-control" th:text="${booking.beginDate}"></p>
                </p>

                <p>
                    <label>CheckOut</label>
                <p class="form-control" th:text="${booking.endDate}"></p>
                </p>

                <p>
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </p>
            </form>
        </div>
    </div>
</body>
</html>