<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="fragments/header"></div>

<div class="container">
    <div th:include="hotels/show :: hotel-header" class="page-header"></div>

    <div class="container">
        <h2>Available rooms</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Hotel</th>
                    <th>Room number</th>
                    <th>Price</th>
                    <th>Occupancy</th>
                </tr>
            </thead>
            <tbody>
            <div th:each="room : ${rooms}">
            <tr>
                <td>${room.hotel.name}</td>
                <td>${room.roomNumber}</td>
                <td>${room.price + ' €/night'}</td>
                <td><span
                        th:each="i : ${#numbers.sequence(1, room.occupancy)}"><i
                        class="glyphicon glyphicon-user"></i></span></td>
            </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>